header {
  background-color: #ff9f00;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  margin-top: -16px;
}
header h1 {
  color: #fff;
  font-family: "McLaren";
  font-weight: bold;
}
